<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entre lineas</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <section class="bg-landing">
        <nav class="row">
            <div class="col-md-6 float-left">
                <ul class="d-flex style-none">
                    <li class="mr-3">Registrate</li>
                    <li>¿Como funciona?</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="d-flex style-none">
                    <li class="mr-3">Registrate</li>
                    <li>¿Como funciona?</li>
                </ul>
            </div>
        </nav>

        <div>
            <ul>
                <li class="text-center"><img src="../img/logoentrelineas.jpg" alt=""></li>
                <li class="text-center"><img src="../img/logochaocole.png" alt=""></li>
            </ul>
        </div>

        <div class="text-center mx-1">
            <iframe class="s-position" src="http://www.youtube.com/embed/W7qWa52k-nE" width="560" height="300"
                frameborder="0" allowfullscreen></iframe>
        </div>

        <img class="barras" src="../img/barras.png" alt="">
    </section>


    <footer class="bg-footer">

    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>